In [15]:
##QUESTION 1
print("QUESTION NO 1 RESULT")
user_dict={"first_name":"Aamir","last_name":"Hameed","age":24,"city":"Karachi"}
print("firstname:",user_dict['first_name'])
print("lastname:",user_dict['last_name'])
print("age:",user_dict['age'])
print("city:",user_dict['city'])
user_dict['qualification']='bachelors'
user_dict.popitem()

#QUESTION 2
print("QUESTION NO 2 RESULT")
cities_info={"PAKISTAN":{"CITY_NAME":"KARACHI","POPULATION":"18 CRORE","FACT":"MQM"},'SUADIA _ARAB':{"CITY_NAME":"MAKKAH","POPULATION":"10CRORE","FACT":"HOLLY PLACE"},'UAE':{"CITY_NAME":"DUBAI","POPULATION":"13CRORE","FACT":"ADVENTURES"}}
print("INFO:{}".format(cities_info["PAKISTAN"]))
print("INFO:{}".format(cities_info["SUADIA _ARAB"]))
print("INFO:{}".format(cities_info["UAE"]))

#QUESTION 3
print("QUESTION NO 3 RESULT")
while True :
    age=int(input("ENTER YOUR AGE! "))
    if age<=3:
        print("your ticket is free of cost")
        break
    elif age>3 and age<=12:
        print("your ticket price is 10$ per")
        break
    elif age>12 and age<=15:
        print("your ticket price is 15$ per")
        break
    else:
        print("your enter wrong age formate")

#QUESTION 4
print("QUESTION NO 4 RESULT")
def favorite_book(title):
    output=print("my favorite books is {:20}".format(title))
    return output
favorite_book("Alice is wonderland ")

#QUESTION 5
print("QUESTION NO 5 RESULT")

QUESTION NO 1 RESULT
firstname: Aamir
lastname: Hameed
age: 24
city: Karachi
QUESTION NO 2 RESULT
INFO:{'CITY_NAME': 'KARACHI', 'POPULATION': '18 CRORE', 'FACT': 'MQM'}
INFO:{'CITY_NAME': 'MAKKAH', 'POPULATION': '10CRORE', 'FACT': 'HOLLY PLACE'}
INFO:{'CITY_NAME': 'DUBAI', 'POPULATION': '13CRORE', 'FACT': 'ADVENTURES'}
QUESTION NO 3 RESULT
ENTER YOUR AGE! 3
your ticket is free of cost
QUESTION NO 4 RESULT
my favorite books is Alice is wonderland
QUESTION NO 5 RESULT

In [0]:
24